<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/404.css">
    <title>404 - Ghibli Info</title>
</head>
<body>
    <div class="error">
        <iframe src="https://giphy.com/embed/CaiVJuZGvR8HK" width="480" height="480" frameBorder="0" class="giphy-embed"></iframe>
        <h1 class="center">Not Found</h1>
    </div>
</body>
</html>