<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Ghibli Info</title>
    </head>
    <body>
        <div class="welcome">
            <h1>Seja bem-vindo</h1>
            <p><a href="/login">Faça login</a> ou <a href="/signup">Cadastre-se</a></p>
        </div>
    </body>
</html>