<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/index.css">
        <title>Home - Ghibli Info</title>
    </head>
    <body>
        <div class="welcome">
            <h1>Seja bem-vindo</h1>
            <p><a href="/login">Faça login</a> ou <a href="/signup">Cadastre-se</a></p>
        </div>
    </body>
</html>