<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Ghibli Info</title>
    </head>
    <body>
        <h1 class="center">Login<h1>
        <div class="form-container">
            <form action="/loguser" method="POST">
                <input type="text" placeholder="Usuário" name="login" required>
                <input type="password" placeholder="Senha" name="password" required>
                <button type="submit">Login</button>
            </form>
        </div>
    </body>
</html>