<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Ghibli Info</title>
    </head>
    <body>
        <h2>Registre-se<h2>
        <form action="/createuser" method="POST">
            <input type="text" placeholder="Usuário" name="login" required>
            <input type="password" placeholder="Senha" name="password" required>
            <button type="submit">Registrar</button>
        </form>
    </body>
</html>